*{
    margin: 0;
    padding: 0;
}
body{
    
    background-image: url('img/ArquiteturaPortugal.webp'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Fixa a imagem de fundo para que ela não role com a página */
    

}

.entrada{
    width: 150px;
    margin:8px;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
    background-color:black;
    opacity: 0.9;
    color:white;
    border-bottom: 1;

}
label{
    color:white;
}
form{
    background-color: black;
}

.botaoenviar{
 
    background-color:gray;
    color:white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    cursor: point;
    margin-bottom: 4%;
    padding: 6px;
    width: 32%;

}

.centralizar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 

}
.centro{
    background-color: red;
    display: flex;
    justify-content: center;
    height: 400px;

}