*{
    margin: 0;
    padding: 0;
}
body{
    
    background-image: url('img/formulario.jpg'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Fixa a imagem de fundo para que ela não role com a página */
    

}
    .entrada{
    width: 220px;
    margin:8px;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
    background-color:black;
    opacity: 0.9;
    color:white;
    outline: none;

}
form{
    background-color:black;
    opacity:0.9;
    padding: 12px;
    border-radius: 3px;
}
.botaoenviar{
 
 background-color:gray;
 color:white;
 display: block;
 font-family: Arial, Helvetica, sans-serif;
 cursor: point;
 margin-bottom: 2%;
 padding: 4px;
 width: 64%;
 margin-left:20%;

}
.centralizar{

    height:145%;
    padding-top:9%;
    display: flex;
    justify-content: center;
    background-color: black;
}
h3{
    text-align:center;
    color:white;
}
.centralizarformulario{
  position: relative;
  left:23%;

}
.arrumandoLogar{
    display: flex;
    justify-content: center;
    
}
.botaoenviar:hover{
   
}
.textarea{
    background-color: black;
}